<!doctype html>
<html>

<head>
    <title>{{ site.name }} &middot; {{ site.tagline }}</title>

    <meta name="description" content="{{ site.description }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/crashpad.min.css" />
    {{> typekit }}

    {{> opengraph }}
    {{> twittercards }}
</head>

<body>

    <main class="main container" role="main">

        {{ body }}

    </main>

    <footer class="container footer">
        <div class="row">
            <p class="col-sm-12">
                {{#if site.twitter }}
                <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
                {{/if}}
                {{#if site.github }}
                <a href="https://github.com/{{ site.github }}">GitHub</a>
                {{/if}}
                {{#if site.dribbble }}
                <a href="https://dribbble.com/{{ site.github }}">Dribbble</a>
                {{/if}}
            </p>
            <p class="col-sm-12">
                <small>&copy; 2015 Crashpad Collective</small>
            </p>
        </div>

    </footer>

    {{> googleanalytics }}

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/crashpad.min.js"></script>

</body>

</html>
