<div class="team row">

    {{#each team}}
    <div class="member col-sm-6">
        <div class="member-avatar">
            <img class="member-photo" src="{{ photo }}" alt="" />
        </div>
        <h2 class="member-title">{{ name }} <span class="member-profession">{{ profession }}</span></h2>
        <p class="member-text">{{ text }}</p>
        <p class="member-links">
            {{#if website }}
            <a href="{{ website }}" title="Website">
                <svg class="icon icon-globe">
                    <use xlink:href="/assets/img/sprite.svg#globe"></use>
                </svg>
            </a>
            {{/if}}
            {{#if twitter }}
            <a href="https://twitter.com/{{ twitter }}" title="Twitter">
                <svg class="icon icon-twitter">
                    <use xlink:href="/assets/img/sprite.svg#twitter"></use>
                </svg>
            </a>
            {{/if}}
            {{#if github }}
            <a href="https://github.com/{{ github }}" title="GitHub">
                <svg class="icon icon-github">
                    <use xlink:href="/assets/img/sprite.svg#github"></use>
                </svg>
            </a>
            {{/if}}
            {{#if dribbble }}
            <a href="https://dribbble.com/{{ dribbble }}" title="Dribbble">
                <svg class="icon icon-dribbble">
                    <use xlink:href="/assets/img/sprite.svg#dribbble"></use>
                </svg>
            </a>
            {{/if}}
        </p>
    </div>
    {{/each}}

</div>
